/* Header */

header {
    display: flex ;
    width: 100vw;
    height: 20vh;
}

.header {
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header img {
    width: 200px;
    
}

.header button {
    border-style: none;
    background-color: transparent;
    color: #E09836;
    
}

.profilpic img {
    position:absolute;
    width: 50px;
    left: 20px;
    top: 20px;
}