
.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FDFFFC;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    
}

.Profile h2 {
    margin-bottom: 20px;
}

.Profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.Stats {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Stats p {
    margin-bottom: 5px;
}

.Charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.statistik button {
    display: none;
}

.statistik{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FDFFFC;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Oswald', sans-serif;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


 .wrapperChart{
    height: 200px;
    width: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    background-color:white ;
 }
 .chartKcal{
    display: flex;
    flex-direction: column;
 gap: 32px;
 text-align: center;

 }
 .chartNutrition{
bottom: -20;
}
.Wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white !important;
    height: 250px;
    overflow: hidden;
}

 
 .chartSlider{
    border-radius: 15px;
    height: auto !important;
    background-color: white !important;
    padding-bottom: 30px;
}
.rs-carousel-label{
    background-color: gray !important;
}