.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Oswald', sans-serif;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.Profile h2 {
    margin-bottom: 20px;
}

.Profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.Stats {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Stats p {
    margin-bottom: 5px;
}

.Charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.statistik button {
    display: none;
}

.statistik{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 30px 0px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Oswald', sans-serif;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.con1,.con2{
display: flex;
flex-direction: column;
width: 50%;
height: 100%;
align-items: center;
justify-content: center;
 }
 

 .wrapperChart{
    display: flex;
    height: 200px;
 }
 .dailyChart{
    height: 100%;
 }